<a href="https://colab.research.google.com/github/HecVelaz/Inteligencia_Artificial/blob/main/Proyecto_Nivel_Caudal/ProyectoIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df1=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/IA/nivel_procesado_1904-2023(3).csv")
df1.shape
df1_copy=df1

43545 registros en 26 columnas

In [ ]:
df2=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/IA/caudales.xlsx")
df2.shape
df2_copy=df2

In [4]:
df1.info()
print("nulos")
df1.isnull().sum()#cantidad de ceros cada columna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43545 entries, 0 to 43544
Data columns (total 26 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fecha     43545 non-null  object
 1   valor009  2640 non-null   float64
 2   valor010  19359 non-null  float64
 3   valor033  33439 non-null  float64
 4   valor088  18802 non-null  float64
 5   valor134  41430 non-null  float64
 6   valor183  33292 non-null  float64
 7   valor184  1177 non-null   float64
 8   valor191  196 non-null    float64
 9   valor210  2357 non-null   float64
 10  valor211  33249 non-null  float64
 11  e218      43512 non-null  float64
 12  valor219  1237 non-null   float64
 13  valor248  2459 non-null   float64
 14  valor252  1278 non-null   float64
 15  valor253  1286 non-null   float64
 16  valor254  12654 non-null  float64
 17  valor255  33287 non-null  float64
 18  valor257  2401 non-null   float64
 19  valor258  1105 non-null   float64
 20  valor261  10386 non-null  float64
 21  valor263  1208 non-null   float64
 22  valor264  1356 non-null   float64
 23  valor288  2195 non-null   float64
 24  valor295  1102 non-null   float64
 25  valor297  2376 non-null   float64
dtypes: float64(25), object(1)
memory usage: 8.6+ MB
nulos

fecha           0
valor009    40905
valor010    24186
valor033    10106
valor088    24743
valor134     2115
valor183    10253
valor184    42368
valor191    43349
valor210    41188
valor211    10296
e218           33
valor219    42308
valor248    41086
valor252    42267
valor253    42259
valor254    30891
valor255    10258
valor257    41144
valor258    42440
valor261    33159
valor263    42337
valor264    42189
valor288    41350
valor295    42443
valor297    41169
dtype: int64

In [16]:
df1

,valor009,valor010,valor033,valor088,valor134,valor183,valor184,valor191,valor210,valor211,...,valor254,valor255,valor257,valor258,valor261,valor263,valor264,valor288,valor295,valor297
fecha,,,,,,,,,,,,,,,,,,,,,
1904-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-17,5.40,5.76,NaN,5.35,6.29,6.12,6.02,NaN,6.98,5.18,...,5.38,5.12,5.74,5.28,3.60,3.70,3.50,4.94,9.85,9.94
2023-03-18,5.38,5.76,NaN,5.35,6.20,6.13,5.95,NaN,7.00,5.27,...,5.46,5.20,5.94,5.46,3.60,4.00,3.55,5.13,9.85,9.92
2023-03-19,5.38,5.74,NaN,5.37,6.10,6.14,5.97,NaN,7.06,5.35,...,5.56,5.28,6.10,5.61,3.55,4.05,3.50,5.35,9.80,9.92
2023-03-20,5.41,5.74,NaN,5.38,6.10,6.10,5.92,NaN,7.15,5.45,...,5.64,5.34,6.21,5.72,3.60,4.11,3.50,5.45,9.80,9.98
2023-03-21,5.41,5.74,NaN,5.36,6.00,6.10,5.90,NaN,7.21,5.50,...,5.72,5.42,6.30,5.80,3.65,4.11,3.60,5.52,9.80,10.00

In [14]:
df1_copy

,valor009,valor010,valor033,valor088,valor134,valor183,valor184,valor191,valor210,valor211,...,valor254,valor255,valor257,valor258,valor261,valor263,valor264,valor288,valor295,valor297
fecha,,,,,,,,,,,,,,,,,,,,,
1904-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-17,5.40,5.76,NaN,5.35,6.29,6.12,6.02,NaN,6.98,5.18,...,5.38,5.12,5.74,5.28,3.60,3.70,3.50,4.94,9.85,9.94
2023-03-18,5.38,5.76,NaN,5.35,6.20,6.13,5.95,NaN,7.00,5.27,...,5.46,5.20,5.94,5.46,3.60,4.00,3.55,5.13,9.85,9.92
2023-03-19,5.38,5.74,NaN,5.37,6.10,6.14,5.97,NaN,7.06,5.35,...,5.56,5.28,6.10,5.61,3.55,4.05,3.50,5.35,9.80,9.92
2023-03-20,5.41,5.74,NaN,5.38,6.10,6.10,5.92,NaN,7.15,5.45,...,5.64,5.34,6.21,5.72,3.60,4.11,3.50,5.45,9.80,9.98
2023-03-21,5.41,5.74,NaN,5.36,6.00,6.10,5.90,NaN,7.21,5.50,...,5.72,5.42,6.30,5.80,3.65,4.11,3.60,5.52,9.80,10.00

In [15]:
df1_copy['fecha'] = pd.to_datetime(df1_copy['fecha'])#formato fecha pandas
df1_copy.set_index('fecha',inplace=True)
datos_asuncion  = df1_copy['e218']
datos_asuncion

KeyError: 'fecha'

In [11]:
datos_asuncion.info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 43545 entries, 1904-01-01 to 2023-03-21
Series name: e218
Non-Null Count  Dtype
--------------  -----
43512 non-null  float64
dtypes: float64(1)
memory usage: 680.4 KB

43545-43512= 33 Valores NULOS

In [8]:
datos_asuncion.isnull()

fecha
1904-01-01    False
1904-01-02    False
1904-01-03    False
1904-01-04    False
1904-01-05    False
              ...
2023-03-17    False
2023-03-18    False
2023-03-19    False
2023-03-20    False
2023-03-21    False
Name: e218, Length: 43545, dtype: bool